#cloud-config
users:
  - name: ${VM_USER}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/${VM_USER}
    shell: /bin/bash
    ssh-authorized-keys:
      - ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXX root@localhost.localdomain
ssh_pwauth: True
disable_root: false
chpasswd:
  list: |
     root: iamroot
     ${VM_USER}:linux
  expire: False
package_update: true
package_upgrade: true
packages:
    - qemu-guest-agent
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - zsh
growpart:
  mode: auto
  devices: ['/']
runcmd:
  - [ sh, -c, 'curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -' ]
  - [ sh, -c, 'sudo apt-key fingerprint 0EBFCD88']
  - [ sh, -c, 'sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"' ]
  - [ sh, -c, 'sudo apt update' ]
  - [ sh, -c, 'sudo apt install -y docker-ce docker-ce-cli containerd.io' ]
  - [ sh, -c, 'printf "\nalias dk=\"sudo docker\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkc=\"sudo docker container\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dki=\"sudo docker image\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dks=\"sudo docker service\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkn=\"sudo docker node\"\n" >> /home/${VM_USER}/.bashrc' ]
###Install k3s
  # - [ sh, -c, 'set -e' ]
  # - [ sh, -c, 'curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.26.2+k3s1 sh -s - server --write-kubeconfig-mode="0640"' ]
  # - [ sh, -c, 'set -e -v' ]
  # - [ sh, -c, 'sudo groupadd -f k3s' ]
  # - [ sh, -c, 'sudo usermod -aG k3s $USER' ]
  # - [ sh, -c, 'sudo chown root:k3s /etc/rancher/k3s/k3s.yaml' ]
  # - [ sh, -c, 'mkdir -p $HOME/.kube' ]
  # - [ sh, -c, 'sudo cp /etc/rancher/k3s/k3s.yaml $HOME/.kube/config' ]
  # - [ sh, -c, 'sudo chown $USER $HOME/.kube/config' ]
  # - [ sh, -c, 'sudo chmod og-rwx $HOME/.kube/config' ]